@font-face {
  font-family: "CocoGothic";
  src: url("../fonts/coco-gothic/CocoGothic.eot");
  src: url("../fonts/coco-gothic/CocoGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/coco-gothic/CocoGothic.woff") format("woff"), url("../fonts/coco-gothic/CocoGothic.ttf") format("truetype"), url("../fonts/coco-gothic/CocoGothic.svg#CocoGothic") format("svg");
}

@font-face {
  font-family: "CocoGothic-Bold";
  src: url("../fonts/coco-gothic/CocoGothic-Bold.eot");
  src: url("../fonts/coco-gothic/CocoGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/coco-gothic/CocoGothic-Bold.woff") format("woff"), url("../fonts/coco-gothic/CocoGothic-Bold.ttf") format("truetype"), url("../fonts/coco-gothic/CocoGothic-Bold.svg#CocoGothic-Bold") format("svg");
}

@font-face {
  font-family: "CocoGothic-Light";
  src: url("../fonts/coco-gothic/CocoGothic-Light.eot");
  src: url("../fonts/coco-gothic/CocoGothic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/coco-gothic/CocoGothic-Light.woff") format("woff"), url("../fonts/coco-gothic/CocoGothic-Light.ttf") format("truetype"), url("../fonts/coco-gothic/CocoGothic-Light.svg#CocoGothic-Light") format("svg");
}

@font-face {
  font-family: "CocoGothic-UltraLight";
  src: url("../fonts/coco-gothic/CocoGothic-UltraLight.eot");
  src: url("../fonts/coco-gothic/CocoGothic-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/coco-gothic/CocoGothic-UltraLight.woff") format("woff"), url("../fonts/coco-gothic/CocoGothic-UltraLight.ttf") format("truetype"), url("../fonts/coco-gothic/CocoGothic-UltraLight.svg#CocoGothic-UltraLight") format("svg");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/gotham/Gotham-Book.eot");
  src: url("../fonts/gotham/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/Gotham-Book.woff") format("woff"), url("../fonts/gotham/Gotham-Book.ttf") format("truetype"), url("../fonts/gotham/Gotham-Book.svg#Gotham-Book") format("svg");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/gotham/Gotham-Light.eot");
  src: url("../fonts/gotham/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/Gotham-Light.woff") format("woff"), url("../fonts/gotham/Gotham-Light.ttf") format("truetype"), url("../fonts/gotham/Gotham-Light.svg#Gotham-Light") format("svg");
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/gotham/GothamBold.eot");
  src: url("../fonts/gotham/GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamBold.woff") format("woff"), url("../fonts/gotham/GothamBold.ttf") format("truetype"), url("../fonts/gotham/GothamBold.svg#GothamBold") format("svg");
}

@font-face {
  font-family: "GothamExtraLight";
  src: url("../fonts/gotham/GothamExtraLight.eot");
  src: url("../fonts/gotham/GothamExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamExtraLight.woff") format("woff"), url("../fonts/gotham/GothamExtraLight.ttf") format("truetype"), url("../fonts/gotham/GothamExtraLight.svg#GothamExtraLight") format("svg");
}

@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/gotham/GothamMedium.eot");
  src: url("../fonts/gotham/GothamMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamMedium.woff") format("woff"), url("../fonts/gotham/GothamMedium.ttf") format("truetype"), url("../fonts/gotham/GothamMedium.svg#GothamMedium") format("svg");
}

@font-face {
  font-family: "NexaBold";
  src: url("../fonts/nexa/NexaBold.eot");
  src: url("../fonts/nexa/NexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa/NexaBold.woff") format("woff"), url("../fonts/nexa/NexaBold.ttf") format("truetype"), url("../fonts/nexa/NexaBold.svg#NexaBold") format("svg");
}

@font-face {
  font-family: "NexaLight";
  src: url("../fonts/nexa/NexaLight.eot");
  src: url("../fonts/nexa/NexaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa/NexaLight.woff") format("woff"), url("../fonts/nexa/NexaLight.ttf") format("truetype"), url("../fonts/nexa/NexaLight.svg#NexaLight") format("svg");
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
  font-family: "NexaBold", "sans-serif";
  font-size: 42px;
  color: #333;
  margin-bottom: 15px;
}

.subtitle-section {
  font-family: "GothamBold", "sans-serif";
  font-size: 14px;
  color: #B5B4B4;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

section {
  padding: 6rem  0;
}

section.homi {
  padding: 0;
}

section.homi .carousel {
  min-height: 100vh;
}

section.homi .carousel .carousel-item {
  height: 100vh;
  min-height: 100vh;
}

section.homi .carousel .carousel-caption {
  bottom: 30%;
}

@media (max-width: 767px) {
  section.homi .carousel .carousel-caption {
    bottom: 10%;
  }
}

section.homi .carousel .carousel-caption h6 {
  font-family: "GothamBold", "sans-serif";
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

section.homi .carousel .carousel-caption h2 {
  font-family: "GothamBold", "sans-serif";
  font-size: 80px;
  margin-bottom: 20px;
}

@media (max-width: 1366px) {
  section.homi .carousel .carousel-caption h2 {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  section.homi .carousel .carousel-caption h2 {
    font-size: 32px;
  }
}

section.homi .carousel .carousel-caption .btn-slide {
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  font-family: "GothamExtraLight", "sans-serif";
  font-size: 24px;
}

section.homi .carousel .carousel-caption .btn-slide:hover, section.homi .carousel .carousel-caption .btn-slide:focus {
  text-decoration: none;
  background: #000;
  color: #fff;
}

section.homi .carousel-indicators li {
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  background: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 4px;
  cursor: pointer;
}

section.homi .carousel-indicators li.active, section.homi .carousel-indicators li:hover, section.homi .carousel-indicators li:focus {
  background: #fff;
}

section.homi .carousel-control-next, section.homi .carousel-control-prev {
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 1;
  width: 100px;
  height: 100px;
  top: 45%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

section.homi .carousel-control-next:hover, section.homi .carousel-control-prev:hover {
  background: rgba(255, 255, 255, 0.6);
}

@media (max-width: 767px) {
  section.homi .carousel-control-next, section.homi .carousel-control-prev {
    width: 60px;
    height: 60px;
  }
}

section.homi .carousel-control-next {
  right: 20px;
}

section.homi .carousel-control-next img {
  margin-left: 10px;
}

section.homi .carousel-control-prev {
  left: 20px;
}

section.homi .carousel-control-prev img {
  margin-right: 10px;
}

section.about {
  min-height: 100vh;
  background: url("../img/bg-challa.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.about .img-center {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}

section.services {
  background: #F1F0F0;
}

section.services .service-box {
  padding: 50px 16px 32px;
  background: #fff;
  margin-top: 60px;
}

section.services figure {
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
}

section.services img {
  width: 100%;
}

section.services h3 {
  color: #333;
  font-family: "GothamBold", "sans-serif";
  font-size: 24px;
}

section.services p {
  color: #B5B4B4;
  font-family: "CocoGothic-UltraLight", "sans-serif";
  margin-bottom: 28px;
}

section.services .btn-vertisex {
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  border: 1px solid #F29100;
  border-radius: 8px;
  width: 180px;
  height: 46px;
  margin: 0 auto;
  background: transparent;
  color: #F29100;
  font-family: "GothamExtraLight", "sans-serif";
  font-size: 18px;
  padding-top: 4px;
}

section.services .btn-vertisex:hover, section.services .btn-vertisex:focus {
  text-decoration: none;
  background: #F29100;
  color: #fff;
}

section.partners {
  min-height: 100vh;
}

section.partners .partners-container {
  margin-top: 50px;
}

section.partners .link-img {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  opacity: .6;
}

section.partners .link-img:hover {
  opacity: 1;
}

section.contact {
  position: relative;
}

section.contact:before {
  content: '';
  width: 100%;
  height: 5px;
  background: #F1F0F0;
  display: block;
  position: absolute;
  top: 0;
}

section.contact .content-contact {
  margin-top: 50px;
}

section.contact .input-vertisex {
  border: none;
  border-bottom: 1px solid #B5B4B4;
  font-family: "CocoGothic-UltraLight", "sans-serif";
  width: 100%;
  padding: 14px 10px;
  margin-bottom: 16px;
}

section.contact .input-vertisex:focus {
  box-shadow: none;
  outline: 0;
  border-color: #000;
}

section.contact ::-webkit-input-placeholder {
  color: #B5B4B4;
  font-family: "CocoGothic-UltraLight", "sans-serif";
}

section.contact ::-moz-placeholder {
  color: #B5B4B4;
  font-family: "CocoGothic-UltraLight", "sans-serif";
}

section.contact :-ms-input-placeholder {
  color: #B5B4B4;
  font-family: "CocoGothic-UltraLight", "sans-serif";
}

section.contact :-moz-placeholder {
  color: #B5B4B4;
  font-family: "CocoGothic-UltraLight", "sans-serif";
}

section.contact .textarea-vertisex {
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  border: none;
  border-bottom: 1px solid #B5B4B4;
  font-family: "CocoGothic-UltraLight", "sans-serif";
  width: 100%;
  padding: 14px 10px;
  margin-bottom: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
  height: 120px;
  max-height: 53px;
}

section.contact .textarea-vertisex:focus {
  max-height: 120px;
  box-shadow: none;
  outline: 0;
  border-color: #000;
}

section.contact .btn-full {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%;
  height: 60px;
  background: #F29100;
  color: #fff;
  font-family: "NexaBold", "sans-serif";
  font-size: 18px;
  opacity: 1;
  cursor: pointer;
  border: none;
}

section.contact .btn-full:focus, section.contact .btn-full:hover {
  opacity: .7;
  box-shadow: none;
  outline: 0;
  border-color: #000;
  border: none;
}

#mainNav {
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  background-color: #fff;
  font-family: "NexaBold", "sans-serif";
}

#mainNav .navbar-toggler {
  position: absolute;
  right: 0;
  top: 10px;
  margin-right: -15px;
}

#mainNav .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

#mainNav .row.full {
  width: 100%;
}

#mainNav .navbar-nav {
  width: 100%;
  margin-top: 20px;
  padding: 0;
}

#mainNav .navbar-brand {
  max-width: 200px;
}

#mainNav .navbar-brand .logo-vertice {
  -webkit-transition-property: background, width, height;
  transition-property: background, width, height;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  background: url("../img/logo-vertice.svg") no-repeat;
  display: inline-block;
  width: 200px;
  height: 126px;
}

@media (max-width: 767px) {
  #mainNav .navbar-brand .logo-vertice {
    background: url("../img/vertice.png") no-repeat;
    display: inline-block;
    width: 57px;
    height: 50px;
  }
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #F29100;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-family: "NexaBold", "sans-serif";
  font-size: 16px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
    color: #F29100;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F29100;
  }
  #mainNav.navbar-shrink {
    background: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    max-width: 290px;
  }
  #mainNav.navbar-shrink .navbar-brand .logo-vertice {
    background: url("../img/vertice.png") no-repeat;
    display: inline-block;
    width: 57px;
    height: 50px;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #F29100;
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F29100;
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
