// Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #F05F40 !default;

//coloretes
$color1: #333;
$color2: #B5B4B4;
$color3: #F1F0F0;
$color4: #F29100;
//fonts
$coco: 'CocoGothic', 'sans-serif';
$coco-bold: 'CocoGothic-Bold', 'sans-serif';
$coco-light: 'CocoGothic-Light', 'sans-serif';
$coco-ultra-light: 'CocoGothic-UltraLight', 'sans-serif';
$gotham-book: 'Gotham-Book', 'sans-serif';
$gotham-light: 'Gotham-Light', 'sans-serif';
$gotham-bold: 'GothamBold', 'sans-serif';
$gotham-extra-light: 'GothamExtraLight', 'sans-serif';
$gotham-medium: 'GothamMedium', 'sans-serif';
$nexa-bold: 'NexaBold', 'sans-serif';
$nexa-light: 'NexaLight', 'sans-serif';